
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name=" viewport" content="width=device-width" />
    <title> MY Coffee Shop</title>
</head>
<body>
    <div>
        <input type="image" src="~/content/Images/Menu_Icon.jpg" href="https://localhost:44319/Home/Menu" style="width:250px; height:300px;"  />
        <input type="image" src="~/content/Images/Staff_icon.jpg" href="https://localhost:44319/Home/Staff" style="width:250px; height:300px;"  />
        <input type="image" src="~/content/Images/vip coffee.jpg" href="https://localhost:44319/Home/Vip" style="width:250px; height:300px;" />







        @*<img href="https://localhost:44319/Home/Menu" src="~/content/Images/Menu_Icon.jpg" class="img-fluid" style="width:250px; height:300px; " object-fit: scale-left alt="menu" />
        <img src="~/content/Images/Staff_icon.jpg" class="img-fluid" style="width:250px; height:300px; " object-fit: scale-right alt="staff" />
        <img src="~/content/Images/vip coffee.jpg" class="img-fluid" style="width:250px; height:300px; " object-fit: scale-right alt="vip" />*@



    </div>
</body>
</html>